body,html{height:100%;margin:0;}
body {
  background-color:white;
  color:black;
  font-family: 'Times New Roman', Times, serif;
}
/*Navigation-bar background layer*/
ul {
  background-color: rgb(204, 204, 204);
  list-style-type: none;
  height: 45px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin:auto;
  padding:0;
  z-index:1000;
}
/*Navigation-bar links positioning*/
li {
  float: left;
  display: inline;
}
/*Navigation-bar link boxes and text positioning*/
li a {
  display: block;
  padding: 14px 16px;
  text-align: center;
  color:black;
  text-decoration:none;
}
/*[Navigation-bar]For all the links hovered over only the one with 'active' class will not turn red*/
li a:hover:not(.active) {
  background-color: rgb(192, 192, 192);
  cursor: pointer;
  color:black;
  text-decoration:none;
}
/*[Navigation-bar]The active class will be this background color*/
.active {
  background-color: rgb(155, 155, 155);
  color:black;
  text-decoration:none;
}
.video {
  width:50%;
  height:auto;
}
.mainpic {
  width:350px;
  height:auto;
}
.card {
  margin:20px;
  width:350px;
  padding:10px;
  /*background-color:rgb(192, 192, 192);
  border:2px solid rgb(192, 192, 192);
  border-radius:20px;
  box-shadow: 0px 0px 5px 1px black;*/
  font-weight: 900;
}
.card:hover {
  /*box-shadow: 0px 0px 20px 1px black;*/
  cursor:pointer;
}
.centered {
  position:absolute;
  top:45%;
  left:50%;
  transform:translate(-50%,-50%);/*box-shadow: 0px 0px 50px 5px black;*/
  font-size:100px;
}
.container{position:relative;text-align:center;color:rgb(141, 140, 140);}
a {
  color:rgb(79, 79, 168);
  text-decoration:none;
  }
a:hover {
  color:rgb(104, 104, 223);
  text-decoration:underline;
}
.opacityimg:hover {
  opacity:0.8;
}
.frontlink {
  color:rgb(0, 0, 0);
  text-decoration:none;
  font-size:35px;
}
.frontlink:hover {
  color:rgb(0, 0, 0);
  text-decoration:underline;
  font-size:35px;
}
.biggest-title {
  font-size:60px;
  color:black;
}
hr {
  color:black;
  background-color:black;
}
video {
  margin-inline-start: 10px;
}
#art123 {
  width:100%;
  height:auto;
}
/*
art1
art2
head1
head2
img1
cit1
date1
close1
*/
#art1 {
  position: absolute;
  width:100%;
  height:100%;
  overflow: auto;
  background-color:white;
  color:black;
  z-index:9999;
  display:none;
}
#close1 {
  background-color:transparent;
  color: rgba(255, 255, 255, 0.562);
  font-weight:bold;
  position:absolute;
  top:0;
  right:0;
  margin:20px;
  font-size:30px;
  border:none;
  outline:none;
  transition:0.25s linear;
}
#close1:hover {
  color:white;
  cursor:pointer;
}
#head1 {
  font-size:40px;
  font-weight:bold;
}
#head2 {
  font-size:25px;
  font-weight:bold;
}
#date1 {
  color:grey;
  font-size:7px;
}
#img1 {
  width:80%;
  display: flex;
  align-self:center;
}
#art2 {
}
