body,html{margin:0;padding:0;}
body {
  background-color:white;
  color:black;
  font-family: 'Times New Roman', Times, serif;
  
}
/*Navigation-bar background layer*/
ul {
  background-color: rgb(0, 0, 0);
  list-style-type: none;
  height: 45px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin:none;
  padding:0;
  z-index:1000;
}
/*Navigation-bar links positioning*/
li {
  float: left;
  display: inline;
}
/*Navigation-bar link boxes and text positioning*/
li a {
  display: block;
  padding: 14px 16px;
  text-align: center;
  color:rgb(255, 255, 255);
  text-decoration:none;
}
/*[Navigation-bar]For all the links hovered over only the one with 'active' class will not turn red*/
li a:hover:not(.active) {
  background-color: rgba(255, 255, 255, 0.295);
  cursor: pointer;
  color:rgb(206, 203, 203);
  text-decoration:none;
}
/*[Navigation-bar]The active class will be this background color*/
.active {
  background-color: rgb(49, 64, 92);
  color:rgb(255, 255, 255);
  text-decoration:none;
}
.active:hover {
  text-decoration:none;
  cursor: pointer;
  color:white;
}
.video {
  width:75%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  display:block;
}
.mainpic {
  width:350px;
  height:auto;
}
.card {
  margin:20px;
  width:350px;
  padding:10px;
  /*background-color:rgb(192, 192, 192);
  border:2px solid rgb(192, 192, 192);
  border-radius:20px;
  box-shadow: 0px 0px 5px 1px black;*/
  font-weight: 900;
  display: inline-block;
}
.card:hover {
  /*box-shadow: 0px 0px 20px 1px black;*/
  cursor:pointer;
}
.centered {
  position:absolute;
  top:45%;
  left:50%;
  transform:translate(-50%,-50%);/*box-shadow: 0px 0px 50px 5px black;*/
  font-size:100px;
}
.container{position:relative;text-align:center;color:rgb(141, 140, 140);}
a {
  color:rgb(79, 79, 168);
  text-decoration:none;
  }
a:hover {
  color:rgb(104, 104, 223);
  text-decoration:underline;
}
.opacityimg {
  transition:0.25s linear;
}
.opacityimg:hover {
  opacity:0.9;
}
.frontlink {
  color:rgb(0, 0, 0);
  text-decoration:none;
  font-size:35px;
  transition: 0.1s linear;
}
.frontlink:hover {
  color:rgb(22, 111, 163);
  /*text-decoration:underline;*/
  font-size:35px;
}
.biggest-title {
  font-size:60px;
  color:black;
}
hr {
  color:black;
  background-color:black;
}
video {
  margin-inline-start: 10px;
}
#art123,#tech1,#blair1,#mcps1,#health1,#extra1 {
  width:100%;
  height:auto;
  display:block;
}
/*
art1
art2
head1
head2
img1
cit1
date1
close1
*/
#art1 {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow: auto;
  background-color:white;
  color:black;
  z-index:9999;
  padding:20px;
  display:none;
}
#close1 {
  background-color:transparent;
  color: rgba(255, 255, 255, 0.562);
  font-weight:bold;
  position:fixed;
  top:0;
  right:0;
  margin:20px;
  font-size:30px;
  border:none;
  outline:none;
  transition:0.25s linear;
}
#close1:hover {
  color:white;
  cursor:pointer;
}
#head1 {
  font-size:40px;
  font-weight:bold;
  color:rgb(44, 75, 95);
  
}
#head2 {
  font-size:25px;
  font-weight:bold;
}
#date1 {
  color:grey;
  font-size:10px;
}
#img1 {
  width:80%;
  display: flex;
  align-self:center;
}
#art2 {
  width:70%;
}
footer {
  background-color:black;
  width:100%;
  color:white;
  padding: 10px 0px 10px 10px;
}
#des1 {
  color:grey;
}
.head21 {
  font-weight:400;
  color:black;
  transition: 0.1s linear;
}
.head21:hover {
  color:rgb(53, 96, 175);
}
.head23 {
  font-weight:400;
  color:black;
  border-bottom: 3px solid rgba(128, 128, 128, 0.5);
  transition: 0.1s linear;
}
.head23:hover {
  border:none;
  color:rgb(53, 96, 175);
}
.bbb {
  font-weight:bold;
  color:black;
}
/*Github Pages Special*/
.silex-runtime .website-min-width {
  min-width:0;
}
#mn1 {
  height:50px;
  max-width:350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.title1 {
  font-size:40px;
  color:rgb(31, 131, 177);
  text-align:center;
}
/*End*/
@media only screen and (max-width: 1200px) {
  #mn1 {
    width:90%;
  }
  .title1 {
    text-align:left;
  }
  
}